<section class="mivin-main-page">
	<div class="mivin-mbox">

		<div class="mivin-background1">
			<img src="https://mywin24.com/images/mw-bg.jpg">
		</div>
		<div class="mivin-background2">
			<img src="https://mywin24.com/images/mw-bg2.jpg">
		</div>
		<div class="mivin-header">
			<div class="mivin-logo1">
				<img src="https://mywin24.com/images/mw-logo.png">
			</div>
			<div class="mivin-links">
				<div class="mivin-registration mivin-link">
					<a href="#">registration</a>
				</div>
				<div class="mivin-login mivin-link">
					<a href="#">login</a>
				</div>
				<div class="mivin-contact-us mivin-link">
					<a href="#">contact us</a>
				</div>
			</div>
		</div>
		<!-- mivin-top-heading -->
			<div class="mivin-top-heading">
				<h2>Get <span>50</span>% Right Away*</h2>
			</div>
		<!-- /mivin-top-heading -->

		<!-- mivin-blue-button -->
			<div class="mivin-blue-button">
				<a href="">
					<span>join now</span>
				</a>
			</div>
		<!-- /mivin-blue-button -->

		<!-- mivin-top-brands -->
			<div class="mivin-top-brands">
				<div class="mivin-top-brands-heading">
					<h4>Software Brands on MyWin24:</h4>
				</div>
				<div class="mivin-top-brands-line">
					<img src="https://mywin24.com/images/mw-logos2.png">
				</div>
				<div class="mivin-three-arrows">
					<div class="mivin-arrow"></div>
					<div class="mivin-arrow"></div>
					<div class="mivin-arrow"></div>
				</div>
			</div>
		<!-- /mivin-top-brands -->

		<!-- mivin-reasons-to-worck -->
			<div class="mivin-reasons-to-worck">
				<div class="mivin-raeasons-heading">
					<h3>WHY TO WORCK WITH US?</h3>
				</div>
				<div class="mivin-resons">
					<div class="mivin-reason">
						<div class="img-part">
							<img src="https://mywin24.com/images/mw-bullet.png">
						</div>
						<div class="mivin-reason-description">
							<div class="mivin-upper-part">
								<p>INDIVIDUAL COMMISSION PLAN</p>
							</div>
							<div class="mivin-lower-part">
								<p>Join us and get better commission every month</p>
							</div>
						</div>
					</div>

					<div class="mivin-reason">
						<div class="img-part">
							<img src="https://mywin24.com/images/mw-bullet.png">
						</div>
						<div class="mivin-reason-description">
							<div class="mivin-upper-part">
								<p>BEST PERFORMANCE</p>
							</div>
							<div class="mivin-lower-part">
								<p>Promoting us is very simple and easily. </p>
								<p>We provide: Generous Bonuses, Banners, Reviews e.t.c.</p>
							</div>
						</div>
					</div>

					<div class="mivin-reason">
						<div class="img-part">
							<img src="https://mywin24.com/images/mw-bullet.png">
						</div>
						<div class="mivin-reason-description">
							<div class="mivin-upper-part">
								<p>FAST PAYMENTS ON YOUR ACCOUNT</p>
							</div>
							<div class="mivin-lower-part">
								<p>Get rewarded instantly on Your affiliate account</p>
							</div>
						</div>
					</div>
				</div>				
			</div>
		<!-- /mivin-reasons-to-worck -->

		<!-- mivin-red-button -->
			<div class="mivin-red-button">
				<a href="">
					<span>join now</span>
				</a>
			</div>
		<!-- /mivin-red-button -->

		<!-- mivin-comission -->
			<div class="mivin-comission">
				<div class="mivin-comission-heading">
					<h3>YOU COMMISSION STARTING FROM 2nd MONTH</h3>
				</div>
				<div class="mivin-comission-sircles">
					<div class="mivin-comission-sircle">
						<img src="https://mywin24.com/images/mw-krug.png">
					</div>
					<div class="mivin-comission-sircle-heading">
						<h4>40%</h4>
					</div>
					<div class="mivin-comission-sircle-description">
						<p>Blue Laguna Comimission generate 1000 EUR next mnth and Get 40% Commission</p>
					</div>
				</div>
				<div class="mivin-comission-sircles">
					<div class="mivin-comission-sircle">
						<img src="https://mywin24.com/images/mw-krug.png">
					</div>
					<div class="mivin-comission-sircle-heading">
						<h4>50%</h4>
					</div>
					<div class="mivin-comission-sircle-description">
						<p>Top Hot Commission generate 3000 eur next 3 month and get 50% Commission</p>
					</div>
				</div>
				<div class="mivin-comission-sircles">
					<div class="mivin-comission-sircle">
						<img src="https://mywin24.com/images/mw-krug.png">
					</div>
					<div class="mivin-comission-sircle-heading">
						<h4>60%</h4>
					</div>
					<div class="mivin-comission-sircle-description">
						<p>Lux high commission To Generate 10 000 EUR next 6 month and Get  60% Commission</p>
					</div>
				</div>
			</div>
		<!-- /mivin-comission -->

		<!-- mivin-blue-button -->
			<div class="mivin-blue-button">
				<a href="">
					<span>join now</span>
				</a>
			</div>
		<!-- /mivin-blue-button -->
		
		<!-- mivin-faq -->
			<div class="mivin-faq">
				<div class="mivin-question1">
					<div class="mivin-question1-heading">
						<h3>WHAT IS MYWIN24?</h3>
					</div>
					<div class="mivin-question1-answer">
						<p>What is MyWin24? 'MyWin24' is unique casino with fast payouts,
						wonderful website design<br> and with more than 1000 games from different brands!
						</p>
						<p>Best software providers You can find on 'MyWin24'. Everything here: Great 'Netent' and 'Microgaming', <br>amazing 'GamesOS' and full of happiness 'PlayTech', Playson, iSoftbet and that's not all, every moment something new. <br>'MyWin24' is a LUX place where everyone will be served with the best quality. Polite support team always ready to help,<br> their mission is to provide special service to every client.
						</p>
						<p>'MyWin24' promotions can help you to earn much more. Join 'MyWin24' partners and take <br> our bonus package from here:<a href=""> www.mywin24.com/en/promotions</a> or from Your affiliate account <br> and from our Newsletters.</p>
					</div>
				</div>
				<div class="mivin-question2">
					<div class="mivin-question2-heading">
						<h3>YOUR COMMISSION?</h3>
					</div>
					<div class="mivin-question2-answer">
						<p>You will automatically have 35% revenue share when signing up which will increase depending on your performance. <br> Increase Your commission using simple steps. Generating every month highest commission income <br> and get more % to Your commission. <br> All our partners receive individual approach and personal manager. <br>If you have any questions about MyWin24 affiliate program, please contact us – partners@mywin24.com
						</p>					
					</div>
				</div>		
			</div>
		<!-- .mivin-faq -->

		<!-- mivin-red-button -->
			<div class="mivin-red-button">
				<a href="">
					<span>join now</span>
				</a>
			</div>
		<!-- /mivin-red-button -->

		<div class="mivin-thank-you">
			<img src="https://mywin24.com/images/mw-thks.png">
		</div>

		<div class="mivin-partners-bottom">
			<img src="https://mywin24.com/images/mw-logos2.png">
		</div>

		<div class="mivina-rights">
			<p>This website (Partners.MyWin24.com) is owned and operated by HighWeb Ventures N.V. (reg. nr. 125776), of E-Commerce Park Vredenberg, Curacao. Financial <br> transactions are managed by Highweb Services Limited (reg. nr. HE326836) of Ioanni Stylianou 6, 2nd floor, office 202, Nicosia, Cyprus.</p>

			<p>Gaming activity is regulated under sublicense nr. 8048-H0612440 issued by the gaming commission of Curacao to HighWeb Ventures N.V. Our games are tested <br> by iTech Labs, an independent tester of gaming and wagering devices to ensure that the games are fair and operate correctly.</p>

			<p>The following payment methods are currently supported if you have any questions please Contact Support</p>

			<p>Powered by Post Affiliate Pro provided by <a href="">1ClickGames.com</a></p>

			<p>© 2015 MyWin24. All rights reserved.</p>
		</div>
	</div>
</section